body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  font-size: 20px;
  font-weight: bold;

}

#details {
  color: blue;
  font-size: 14px;
}

#tickets {
  color: green;
  font-size: 14px;
}

nav {
  background-color: black;
  /* display: block; */
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  color: white;

  height: 3vh;
}